* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(4, 9, 10, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu button {
  margin-top: 10px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0.5rem;
  font-size: 2rem;
}

.heading_content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading_content h1 {
  font-size: 5rem;
  margin: 30px 0;
  font-family: "Bellota", system-ui;
  color: white;
}
.heading_content h3 {
  color: tomato;
  margin-bottom: 2rem;
  font-family: "Bellota", system-ui;
}

.heading_content p {
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.heading_content a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: rgb(118, 17, 17);
  border: none;
  padding: 10px;
}

.heading_content a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid black;
  transition: all 0.7s;
}

.offcanvas .offcanvas-body .list-group a:hover {
  color: #0a4889 !important; 
  list-style:circle;
  font-weight: 600;
}

/* -----------------------------------------
    Reputation Section 
------------------------------------------- */

.reputation{
  min-height: 50vh;
  width: 100%;
  margin: 0.7rem 0;
  color: black !important;
  background-image:url(images/respect.jpg);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(202, 206, 207, 0.7), rgba(199, 200, 202, 0.7)),url(images/respect.jpg);
  background-size: cover;
  padding: 5rem 0;
}
.reputation .reputation_heading{
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2rem;
  line-height: 3.2rem;  
  color: #414040;
}
.reputation .reputation_content{
  margin: 2.4rem 0;
  font-size: 1.3rem;
}
.reputation a{
  background-color: #636060;
  border-radius: 2rem;
  color: white;
  padding: 0.6rem 1.5rem;
  font-weight: 700;
}
.reputation a:hover{
  color: black;
  border: 1px solid #636060 ;
}

/* -----------------------------------------
    Services Section 
-------------------------------------------*/

.services {
  margin-top: 2rem;
  text-align: center;
}

.services h2 {
  padding: 2rem 0;
  font-size: 3rem;
}

.services .service_column {
  -webkit-box-shadow: 24px 24px 46px -17px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 24px 24px 46px -17px rgba(0, 0, 0, 0.47);
  box-shadow: 24px 24px 46px -17px rgba(0, 0, 0, 0.47);
}

.services .service_column {
  margin: 2rem 10px;
  background-color: #e9e6e6;
  padding: 2rem;
}

.services .service_column:hover {
  background-color: #f18080;
  cursor: pointer;
  transition: all 0.7s;
}

.services .service_column h5 {
  font-weight: 700;
}

/* -----------------------------------------
    Goals Section 
-------------------------------------------*/
.goals {
  margin-top: 2rem;
  text-align: center;
  background: rgb(219, 227, 229);
}

.goals h2 {
  padding: 2rem 0;
  font-size: 3rem;
}

.goals .goals_column h1 {
  font-size: 5rem;
  padding: 2rem 0;
}

.goals .goals_column img {
  height: 400px;
}

.goals .goals_column p {
  margin: 1.5rem 0;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2rem;
}

.goals .goals_column li {
  list-style-type: none;
  margin: 3.5rem auto;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

/* -----------------------------------------
    Incredible Section 
-------------------------------------------*/

.incredible{
  background-color: #eeeaea;
  min-height: 50vh;
  width: 100%;
}
.incredible .row{
  padding: 6rem 0 1rem;
}
.incredible img{
  height: 80%;
}
.incredible .incredible_heading{
  font-size: 3rem;
}
.incredible .incredible_details h2{
  font-size: 1.7rem;
  margin: 2rem 0 1rem;
}


/* -----------------------------------------
    Testimonials Section 
-------------------------------------------*/

.testimonials {
  margin-top: 2rem;
  text-align: center;
  padding: 4rem;
}

.testimonials h2 {
  font-size: 3rem;
}

.testimonials .testimonial_container img {
  width: 400px;
  height: 400px;
  margin: 2rem auto;
  border-radius: 50%;
}

.testimonial_container h1 {
  font-size: 20px;
  margin-top: 2rem;
}


/* -----------------------------------------
    Experience Section 
-------------------------------------------*/
.experience{
  min-height: 70vh;
  width: 100%;
  position: relative;
  background-image:url(images/experience.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.experience .container{
  color: white;
  text-align: center;
  padding-top: 5rem;
}
.experience .container .experience_details{
  font-size: 1.6rem;
  padding: 1.5rem 0;
}
.experience .container h2{
  font-size: 2.4rem;
  color: rgb(211, 205, 205);
}
.experience .container p {
  font-size: 1rem;
}
/* -----------------------------------------
    Footer Section 
-------------------------------------------*/
ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  font-family: "Montserrat", sans-serif;
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.checked {
  color: orange;
}
.checked-half {
  clip-path: inset(0 50% 0 0);
  color: orange;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 120px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* ---------------------------------------------------------
  About Section
  ----------------------------------------------------------- */
.about_body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  min-height: 100vh;
  padding: 2rem 0;
}
.about_body p {
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 300;
  color: rgb(58, 53, 53);
  padding: 1rem;
}
.about_body .about_container .about_row h2 {
  margin: 4rem 0;
}
.about_body .about_row,
.mission_row h3 {
  margin: 4rem 0;
}
.about_body .about_row,
.mission_row {
  margin: 1.3rem 0;
}
.about_body .about_row,
.mission_row {
  margin: 1.3rem 0;
}
.about_body .about_row .owner_image {
  height: 90%;
}
.about_body .mission_row .mission_img {
  height: 90%;
  margin-top: 1.4rem;
}

/* Responsive Code */

@media (min-width: 1024px) {
  .reputation .container img{
    height: 70vh;
  }
}



@media (max-width: 884px) {
  .reputation .container img{
    height:30vh;
  }
}

@media (max-width: 1000px) {
  .reputation .container img{
    height:55vh;
  }
}


@media (max-width: 900px) {
  .reputation .container img{
    height: 55vh;
  }
}



@media (max-width: 768px) {
  .heading_content h1 {
    font-size: 3rem;
    margin-top: 10px;
  }
  .heading_content h3{
    font-size: 1.4rem;
  }
  .heading_content p {
    font-size: 1rem;
  }
  .heading_content a {
    font-size: 17px;
  }
  .services .service_column {
    width: 80%;
  }
  .goals h1 {
    text-align: left;
  }
  .goals .goals_column li {
    font-size: 1rem;
    width: 80%;
    text-align: left;
  }
  .goals .goals_column p {
    margin: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 3rem;
  }
  .testimonials {
    margin: 0 auto;
  }
  .testimonial_container {
    max-width: 90%; /* Adjust as needed */
    margin: 0 auto;
    text-align: center;
  }
  .testimonials .testimonial_container img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
  }
  .testimonial_container h1 {
    font-size: 13px;
    margin-top: 1rem;
  }
  .footer {
    width: 100%;
  }
  
  .services .service_details {
    p {
      padding: 0 0.5rem;
      text-align: center;
    }
    .footer {
      padding: 1rem;
    }
  }
  .services .service_section_column {
    margin: -0.3rem auto 2.4rem;
    background-color: #f2e9e9;
  }
  .services .service_image img {
    width: 115%;
    height: 222px;
  }
  .services .service_section_column i {
    font-size: 3.4rem;
  }
  .services .service_details p {
    font-size: 20px;
  }
  .offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: 84%;
    border-right: var(--bs-offcanvas-border-width) solid
      var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
    height: 65%;
    margin: 2rem;
  }
  .reputation{
    padding: 1rem 0.2rem;
  }
  .incredible img{
    margin:   0 2rem;
  }
  .incredible .incredible_details{
    margin:   0 2rem;
  }
  .experience .container .experience_details{
    font-size: 1rem;
    padding: 1.5rem 0;
  }
  .experience .container h2{
    font-size: 2.4rem;
    color: rgb(211, 205, 205);
  }
  .experience .container p {
    font-size: 0.3rem;
  }
 
}
@media (max-width: 360px) {
  .heading_content h1 {
    font-size: 2rem;
  }
  .heading_content a {
    font-size: 16px;
  }
  .offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: 84%;
    border-right: var(--bs-offcanvas-border-width) solid
      var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
    height: 100%;
    margin: 2rem;
  }
  .header {
    min-height: 50vh;
    width: 100%;
  }
  .service_section_column {
    padding: 1rem;
    margin: 2rem auto;
    border: 1px solid 0.5rem;
    background-color: #f3eeee;
  }
  .reputation{
    padding: 1rem 0.2rem;
    color: black !important;
  }
  .incredible img{
    margin:   0 2rem;
  }
  .incredible .incredible_details{
    margin:   0 2rem;
  }
 
}
/* Contact  */
@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

/* ------------------------------------------
    Contact Us
-------------------------------------------*/
.contact_us_6 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_6 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_6 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_6 .responsive-container-block {
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_6 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  width: 35%;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #03a9f4;
  position: absolute;
  height: 950px;
  right: 0px;
}

.contact_us_6 .responsive-container-block.container {
  position: relative;
  min-height: 75px;
  flex-direction: row;
  z-index: 2;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  max-width: 1320px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_6 .container-block.form-wrapper {
  background-color: white;
  max-width: 500px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 90px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 52px;
  font-weight: 900;
}

.contact_us_6 .text-blk.contactus-subhead {
  color: #9c9c9c;
  width: 300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  display: none;
}

.contact_us_6
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_6 .input {
  width: 100%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
}

.contact_us_6 .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
}

.contact_us_6 .submit-btn {
  width: 98%;
  background-color: #03a9f4;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.contact_us_6 .form-box {
  z-index: 2;
  margin-top: 0px;
  margin-right: 48px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #9c9c9c;
}

.contact_us_6 ::placeholder {
  color: #dadada;
}

.contact_us_6 .mob-text {
  display: block;
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
}

.contact_us_6
  .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-subhead.color {
  color: white;
}

.contact_us_6 .map-box {
  max-width: 800px;
  max-height: 520px;
  width: 100%;
  height: 520px;
  background-color: #d9d9d9;
  background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.contact_us_6 .map-part {
  width: 100%;
  height: 100%;
}

.contact_us_6 .text-blk.map-contactus-head {
  font-weight: 900;
  font-size: 22px;
  line-height: 32px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #03a9f4;
}

.contact_us_6 .text-blk.map-contactus-subhead {
  max-width: 300px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.contact_us_6 .social-media-links.mob {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 230px;
  display: flex;
  justify-content: flex-start;
}

.contact_us_6 .link-img {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .social-icon-link {
  margin: 0 25px 0 0;
  padding: 0 0 0 0;
}

@media (max-width: 1024px) {
  .contact_us_6 .responsive-container-block.container {
    justify-content: center;
  }

  .contact_us_6 .map-box {
    position: absolute;
    top: 0px;
    max-height: 320px;
  }

  .contact_us_6 .map-box {
    max-width: 100%;
    width: 100%;
  }

  .contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .map-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .mob-text {
    display: block;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .contact_us_6 .link-img {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
  }

  .contact_us_6 .social-media-links.mob {
    justify-content: space-evenly;
  }

  .contact_us_6
    .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .contact_us_6 .text-blk.contactus-subhead {
    display: block;
  }

  .contact_us_6 .mob-text {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .responsive-container-block.container {
    flex-wrap: wrap;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .contact_us_6 .submit-btn {
    width: 100%;
  }

  .contact_us_6 .input {
    width: 100%;
  }

  .contact_us_6 .textinput {
    width: 100%;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .form-box {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_6 .mob-text {
    display: block;
  }

  .contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.contactus-head {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6
    .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .contact_us_6 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.input-title {
    font-size: 12px;
  }

  .contact_us_6 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 35px;
  }

  .contact_us_6 .input {
    height: 45px;
  }
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: tomato; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; /* Darker handle color on hover */
}

/* ------------------------------------------------
  Service Section
-------------------------------------------------- */
.services {
  margin: 2rem 0;
}
.service_section_column {
  padding: 1rem;
  margin-top: -2rem;
  margin-bottom: 6rem;
  border: 1px solid;
  background-color: #f3eeee;
}
.service_section_column i {
  font-size: 3rem;
}
.services .service_image img {
  width: 80%;
}
